@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App {
  text-align: center;
  padding: 5% 10% 5% 30%;
  height: 100vh;
  background: #FCFCFC;
}

.TaskName {
  font-size: 36px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  text-align: left;
}

